#aplpb_options_table {
    border-spacing: 0 25px;
}
#aplpb_options_table th {
    text-align: left;
}

#aplpb_options_table tr {
    padding-top: 50px;
}

#aplpb_options_table p {
    margin: 0px;
    padding-left: 15px;
}